{{define "content"}}
<form role="form" action="/posts/save" method="post">
    <div class="lead">PostsCreate</div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">place_id</label>
      <select class="form-control" id="place_id", name="place_id">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <label for="exampleFormControlSelect1">value</label>
      <select class="form-control" name="value" id="value">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <textarea class="form-control" name="comment" id="comment" placeholder="Postを追加" rows="4"></textarea>
      <br/>
      <br/>
      <button class="btn btn-lg btn-primary pull-right" type="submit">作成</button>
    </div>
</form>
  
{{end}}